body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: paleturquoise;
    color: darkblue;
    padding: 16px;
    font-family: "LM";
}    

h2{
    display: flex;
    justify-content: center;
}
nav{
    background-color: paleturquoise;
    color: darkblue;
    padding: 1px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-family: "LM";
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li> a:hover{
    color: black;
    border-bottom: 2px solid black;
    transition: 1.5s;
}

nav li > a{
    text-decoration: none;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    color:darkblue;
    border-bottom: 2px solid darkblue;
    font-size: large;
}

.container{
    border: 1px solid black;
    border-radius: 0.35em;
    margin: auto;
    margin-bottom: 16px;
    width: 85%;
}

.row{
    display: flex;
    justify-content: center;
    padding: 64px;
}

.col{
height: 500px;
padding: 24px;
width: 33%;
text-align: center;
}

row> input {
    width:64px ;
}

.active {
    color: crimson;
    border-bottom: 2px solid crimson;
}

.titlemaquina {
    text-align: center;
}

.video {
    justify-content: center;
    margin-left: -5%;
    margin-top: 10%;
}

.vid1 {
    color: black;
}

.vid1:hover {
    color: white;
}

.vid2 {
    margin-left: 0%;
    color: black;
}

.vid2:hover {
    color: white;
}

.vid2button {
    margin-left: -30%;
}

.vid:active {
    color: black ;
}

.vid2:visited {
    color: black ;
}


button {
   padding: 10px;
   width: 300px;
   margin-left: 42%;
   border: 4px solid black;
   background-color: paleturquoise;
   font-family: "LM";
}

.expand {
    justify-content: center;
    margin-left: 45%;
    font-family: "LM";
    color: black;
}

.expand:active {
    color: blue;
}

.expand:hover {
    color: red;
}

.expand2 {
    justify-content: center;
    margin-left: 45%;
    
    font-family: "LM";
    color: black;
}

.expand2:active {
    color: blue;
}

.expand2:hover {
    color: red;
}

button:hover {
    cursor: pointer;
    color: paleturquoise;
    background-color: black;
    border: 4px solid paleturquoise;
    
}

button:active {
    color: paleturquoise;
    background-color: black;
    border: 4px solid paleturquoise;
}

.exemplos {
    position: relative;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: paleturquoise;
    padding: 96px;
    color: darkblue;
    display: flex;
    justify-content: center;
    margin: 0%;
}

footer ul{
    list-style: none;
}

footer li{
    margin: 8px;
}

form{
    width: 97%;
}

@font-face {
    font-family:"LM";
    src: local(LEMONMILK),url(LEMONMILK.otf)
}

@media screen and (max-width:800px) {
    .container{
        width: 97%;
    }
}